*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
    font-family: montserrat, sans-serif;
}
.app {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.app-header {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}
.app-header .logo {
    display: flex;
    align-items: center;
}
.app-header .logo img {
    margin-right: 8px;
}
.app-header .logo h1 {
    font-size: 23px;
    font-weight: 600;
}
.app-header .input {
    position: relative;
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 20px auto 0;
    background-color: #f6f7f8;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px 15px;
    border-radius: 6px;
    color: #333;
    font-size: 17px;
    text-transform: uppercase;
    font-style: italic;
    transition: all 0.3s;
}
.app-header .input:hover {
    border-color: #ff4500;
}
.articles {
    padding: 30px 20px;
}
article {
    border: 1px solid #ccc;
    padding: 20px;  
    margin-bottom: 20px;
    border-radius: 8px;
    transition: all 0.3s;
}
article:hover {
    background-color: #f6f7f8;
}
article h3 {
    color: #ff4500;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 8px;
}
article p {
    font-size: 16px;
    margin-left: 8px;
    font-weight: 500;
}
article a {
    display: block;
    width: fit-content;
    margin-left: auto;
    background-color: #ff4500;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    margin-top: 10px;
}
input::placeholder {
    opacity: 1;
    font-size: 14px;
    transition: all 0.3s;
}
input:focus::placeholder {
    opacity: 0;
}
@media (max-width: 767px) {
    article h3 {
        font-size: 15px;
    }
    article p {
        font-size: 14px;
    }
    article a {
        font-size: 13px;
    }
}